:root{
    /* Colors */
    --body--color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

@media screen and (max-width: 1100px) {
    .main > div{
        width: 100% !important;
    }
}

@media screen and (max-width: 1600px) {
    .main > div{
        width: 90%;
    }
}

@media screen and (max-width: 2000px) {
    .main > *{
        width: 65%;
    }
}

img{
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

i{
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > *{
    margin: 10px 0 10px 0;
}


/* 날짜 */
.date{
    display: flex;
    flex-direction: column;
    height: 150px;
}

.year-date{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px;
    margin-bottom: 15px;
}

.year-date > *{
    margin: 0 10px 0 10px;
    font-size: 25px;
}

.year-date > span{
    font-weight: bold;
}

/* Day */
.day-menu{
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--toggle-color);
}

.day-menu i{
    font-size: 25px;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* 수평, 수직, 흐림 정도, 색상 */
}

.days{
    width: 100%;
    display: flex;
    align-items: center;
}

.day{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.day em{
    margin-bottom: 5px;
}

.inactive{
    cursor: auto;
    color: var(--toggle-color);
}

.current{
    color: #3F76FF;
}

.leagues{
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    height: 60px;
}

.leagues button{
    display: inline-block;
    padding : 5px 20px 5px 20px;
    border-radius: 15px;
    border: 1px solid var(--toggle-color);
    font-size: 17px;
    margin-right: 15px;
    background-color: var(--sidebar-color);
}

.all-btn{
    background-color: #695CFE !important;
    color: var(--sidebar-color);
}

.league{
    border-radius: 10px;
    border: 1px solid var(--toggle-color);
}

.league-header{
    display: flex;
    align-items: center;
    text-align: center; 
    height: 50px;
    background-color: var(--body--color);
    border-bottom: 1px solid var(--toggle-color);
    /* background-color: var(--primary-color-light); */
}

.league-header > *{
    margin-right: 10px;
}

.league-header > img{
    width: 20px;
    height: 25px;
    margin-left: 20px;
}

.league-content{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.league-content div{
    display: flex;
    align-items: center;
    text-align: center;
}

.content-date{
    margin-left: 15px;
    width: 200px;
}

.content-date span:first-child{
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
}

.content-date span:nth-child(2){
    font-size: 12px;
    color: gray;
}

.team{
    width: 300px;
    font-weight: bold;
    font-size: 14px;
}

.team *{
    margin: 0px 5px 0px 5px;
}

.home{
    display: flex;
    justify-content: flex-end;
}

.home span:first-child{
    width: 16px;
    height: 16px;
    background-color: darkgray;
    font-size: 12px;
    color: var(--sidebar-color);
}

.status{
    margin: 0px 30px 0px 30px;
}

.status .status-span{
    color: var(--primary-color);
}

.status span{
    width: 2.5vw;
    font-weight: bold;
}

.score.hidden{
    display: none;
}

.content-matchday span{
    width: 100%;
    text-align: right;
    margin-right: 15px;
}

/* slide */
.swiper{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--toggle-color);
}

.swiper-slide{
    display: flex !important;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--toggle-color);
}

.swiper-button-prev,
.swiper-button-next{
    --swiper-navigation-size:22px;
    --swiper-theme-color:black;
}