{% load static %}
<header>
    <div class = "header-div">
        <div class = "header-div2">
            <div class = "title">
                <!-- <img src="{% static 'imges/logo.png' %}" alt="logo"> -->
                <h2><a href="/">플메</a></h2>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a> 일정/결과 </a></li>
                        <li><a> 기록/순위 </a></li>
                    </ul>
                    <ul>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>